<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.cashcraft.ads.mediation.smoke.SmokeApplication"
        android:allowBackup="false"
        android:label="Ads Mediation R8 Smoke">
        <activity
            android:name=".SmokeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NativeSmokeActivity"
            android:exported="true" />
        <activity
            android:name=".NativeSmokeDetailsActivity"
            android:exported="false" />
        <activity android:name=".TraditionalBannerActivity" android:exported="false" />
    </application>
</manifest>
